.subscription
  .subscription__header
    .subscription__header__title
      S u b s c r i p t i o n
  .subscription__form
    .subscription__form-separate
      = form_for @user do |f|
        .field
          .field-label
            = f.label :user, "名前を入力してください"
          .field-input
            = f.text_field :name, autofocus: true, placeholder: 'Nickname' , class: 'text'
        .field
          .field-label
            = f.label :password, "パスワードを入力してください"
          .field-input
            = f.password_field :password, autocomplete: "off", class: 'text'
        .field
          .field-label
            = f.label :password_confirmation, "もう一度入力してください"
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off", class: 'text'
          
        .action
          = f.submit "Subscript", class: 'subsc'