.subscription
  = image_tag 'scene2.jpg', alt: 'background', height: '100%', width: '100%'
  .subscription__header
    .subscription__header__menu
      = image_tag 'logo_xeno.jpg', alt: 'mark', height: '80px', width: '65px', class: 'subscription__header__menu__logo'
      .btn
        =link_to "/about", class: 'btn-description' do
          About us
          %a(href="/users/new")
        =link_to "/buy", class: 'btn-buy' do
          Buy
          %a(href="/users/new")
        =link_to "#", class: 'btn-post' do
          Post
          %a(href="/users/new")
      = link_to "/users/new", class: "user" do
        %p.user__name
          Ibuki
  .subscription__form
    .subscription__form-separate
      = form_with model: @user, local: true do |f|
        .field
          .field-label
            = f.label :user, "名前を入力してください"
          .field-input
            = f.text_field :name, autofocus: true, class: 'text', placeholder: 'Nickname' 
        .field
          .field-label
            = f.label :password, "パスワードを入力してください"
          .field-input
            = f.password_field :password, autocomplete: "off", class: 'text', placeholder: 'Password'
        .field
          .field-label
            = f.label :password_confirmation, "もう一度入力してください"
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off", class: 'text', placeholder: 'confirmation'
          
        .action
          = f.submit "OK?", class: 'subsc'