.contents
  = image_tag 'scene.jpg', alt: 'background', height: '100%', width: '100%'
  .contents__bar
    .contents__bar__menu
      = image_tag 'logo_xeno.jpg', alt: 'mark', height: '120px', width: '100px', class: 'contents__bar__menu__logo'
      = link_to "#", class: "btn" do
        %p.btn-description 
          About us
        %p.btn-buy 
          Buy
        %p.btn-post 
          Post
      = link_to "#", class: "user" do
        %p.user__name
          Ibuki
  .contents__name
    .contents__name__letter
      .contents__name__letter__title
        カードゲームの名前
      .contents__name__letter__quote
        新時代カードゲーム
  
.posts
.footer
  = image_tag 'logo_xeno.jpg', alt: 'mark', height: '60px', width: '45px', class: 'footer__logo'
  = link_to "#", class: "footer__form" do
    お問い合わせ
  .footer__name
    IBUKI:HANADA